{% from "bootstrap5/form.html" import render_form %}
{% block content %}
  {% include "header.html" %}

<main class="form-signin w-100 m-auto" style="max-width: 330px; text-align: left;">
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-clipboard2-check-fill" viewBox="1.5 0 20 20">
    <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5"/>
    <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
  </svg>
    <h1 class="h3 mb-3 " style="text-align: left;">Create an account</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info flash p">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="post">
      {{ form.hidden_tag() }}
      <div class="d-flex justify-content-center">
        <div class="w-100" style="max-width: 300px;">
          <div class="form-floating">
            {{ form.username(class="form-control", placeholder="Username") }}
            <label >Username</label>
          </div>

          <div class="form-floating">
            {{ form.email(class="form-control", placeholder="Email") }}
            <label >Email</label>
          </div>

          <div class=" form-floating">
            {{ form.password(class="form-control", placeholder="Password") }}
            <label >Password</label>
          </div>
          <div class="mb-3 form-floating">
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
            <label >Confirm Password</label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-sign-in">Sign Up</button>
          </div>
        </div>
      </div>
    </form>

  </main>

  {% include "footer.html" %}
{% endblock %}